.page-container {
  padding: 20px;
}

.dashboard {
  background: #48024a89;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
/* Forms */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select, textarea {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #2e7d3a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #256428;
}

/* List items */
.dashboard ul {
  list-style: none;
  padding: 0;
}

.dashboard li {
  padding: 10px;
  margin-bottom: 10px;
  background: #e8f5e9;
  border-left: 4px solid #2e7d32;
}


select {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Links */
.login-instruction a {
  color: #2e7d3a;
  text-decoration: underline;
  cursor: pointer;
}
